body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
}

#welcome-screen {
    flex-direction: column;
    background-color: #121212;
    min-height: 100vh;
}

.topbar {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    color: white;
    gap: 1rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.card {
    padding: 30px;
    border: 1px solid #333;
    border-radius: 12px;
    background-color: rgb(26, 25, 31);
    color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-title {
    text-align: center;
    margin-bottom: 25px;
}

.card-title:hover {
    font-size: 2.2rem;
}

.panel {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #121212;
    padding: 1.5rem;
}

.panel-card {
    width: 80%;
    background: rgb(26, 25, 31);
    border: 1px solid #333;
    border-radius: 12px;
    padding: 30px;
    color: white;
    text-align: center;
    position: relative;
}

.panel-log-out {
    position: absolute;
    top: 20px;
    right: 20px;
}

.panel-card h1 {
    text-align: left;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #1e1e24;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #6366f1;
    padding: 12px;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: -35px;
}